.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.postWrap {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.postWrap:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.avatarImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

p {
    font-size: 16px;
    margin: 0;
}

.likeWrap {
    align-items: center;
    font-size: 14px;
    color: #999;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
}

.likeWrap .likeIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url('https://avatars.mds.yandex.net/i?id=1f4c064b716995e3c5152c34cc4bbfbb6e51c5bf-9152778-images-thumbs&n=13');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50px;
}

.likeWrap .likeCount {
    font-weight: bold;
    color: #f44336;

}

